
/* fonts and universal styles*/

body{
    margin: 0;
    padding: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}



/* nav section start */

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
}
.nav-list li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 16px;

    
   
}

/* nav section end */



/* shared styles */

.btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600; 
    cursor: pointer;
    margin: 24px 0;


}
.btn:hover{
    background-color: #ffffff;
    color: #30B868;
    border: 2px solid #30B868;
}
.green{
    color: #30B868;
}
.white{
    color: #FFFFFF;
}
.text-color{
    color: #627382;
}
.work-btn{
    background-color: #30b86900;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600; 
    cursor: pointer;
    margin-left: 16px;
   
}
.work-btn:hover{
    background-color: #30b869c3;
    border: none;
   
}

/* hero section */

.hero{
    
    background-image: linear-gradient(rgba(0, 25, 49, 0.4),rgba(0, 25, 49, 0.4)) , url("../media/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
   
   padding: 115px 120px 180px ;
}

.hero-content{
    text-align: center;
    margin: 0 auto;
  
}
.hero .hero-content h1{
    font-size: 72px;
    font-weight: bold;
    margin: 16px 0;
}

.access-now{
    margin: 0 auto;
    border: none;
    border-radius: 1000px;
    background-color: #FFFFFF ;
    color:#30B868 ;
    width: 183px;
    padding:8px 12px ;

}
.hero-paragraph{
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    
}
/* hero section ends */

/* card section start */
.note{
    text-align: center;
    margin: 0 auto;
   
}
.note h3{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    
}
.note-content{
    color: #627382;
    font-size: 16px;
    margin-bottom: 40px;
}

.note-cards{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1360px;
    
    

}
.card{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06) ;
    width: 322px;
    padding: 24px;
   
 
   
}

.card-logo{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    padding: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   margin-top: 35px;
}

 .card h4{
    font-size: 24px;
    font-weight: 600;
    margin: 16px 0;
 }
 .card p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 20px;
    text-align: center;
 }



 /* brain section start */
 .brain{
    display: flex;
   gap: 60px;
   justify-content: space-between;
   align-items: center;
   
    margin: 0 auto;
    padding: 120px;
    max-width: 1360px;
 }
 .brain-title{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
 }
 .tick-list{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom:0;
 }
 



 /* think section */
 .think{
    padding: 120px;
    padding-top: 0px;
 }
 .think-container{
    text-align: center;
    
    padding: 80px 40px;
    background-color: #F7F6F2;
    max-width: 1360px;  
    margin: 0 auto;
    border-radius: 12px;
 }
 .think-title{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
  
 }
 .think-container p{
    margin:  0;
 }


 /* footer starts */

    footer{
        background-color: #001931;
        padding: 120px;
        padding-bottom: 30px;
        text-align: center;
        
    }
    

    footer section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    }
    .footer-logo{
        display: flex;
        gap: 16px;
        margin-top: 16px;
    }

    