
/* fonts */

body{
    margin: 0;
    padding: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}



/* nav section start */

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
}
.nav-list li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 16px;

    
   
}

/* nav section end */



/* shared styles */

.btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600; 
    cursor: pointer;
    margin: 24px 0;


}